html, body {
    margin: 0;
    height: 100%;
    background: #050915;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    cursor: crosshair;
}

.help {
    position: absolute;
    width: 50%;
    height: 50%;
    margin: 10% 25%;
    background-color: #fff;
    white-space: pre-wrap;
    z-index: 50;
    pointer-events: none;
}

.help.hidden {
    display: none;
}

.skill {
    padding: 4px;
    background-color: #cfe3ff;
    border-radius: 3px;
}

.command-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: 100ms transform;
}

.command-bar.hidden {
    pointer-events: none;
    transform: translateY(100%);
}

.command-input {
    z-index: 1000;
    font-family: Consolas, Monaco, "Andale Mono", "Lucida Console", monospace;
    font-size: 18px;
    width: 100vw;
    height: 24px;
    border: none;
    outline: none;
    padding: 0 8px;
}
