html, body {
    margin: 0;
    height: 100%;
    background: #050915;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
}

::-webkit-scrollbar {
    display: none;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    cursor: crosshair;
}

.help {
    position: absolute;
    width: 50%;
    height: 50%;
    margin: 10% 25%;
    background-color: #fff;
    white-space: pre-wrap;
    z-index: 50;
    pointer-events: none;
}

.help.hidden {
    display: none;
}

.skill {
    padding: 4px;
    background-color: #cfe3ff;
    border-radius: 3px;
}

.command-panel {
    & {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 60%;
        max-height: 60%;
        left: 0;
        bottom: 24px;
        padding: 12px 12px 0 0;
        overflow: hidden;
        overflow-y: auto;
        overflow-wrap: break-word;
    }

    &.hidden {
        display: none;
    }

    .notify {
        color: #fff;
        padding: 1px 0 1px 12px;
        margin: 0;
        outline: none;
        background-color: rgba(255, 255, 255, 0.05);
    }

    .notify.hidden {
        display: none;
    }
}

.command-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: 100ms transform;
}

.command-bar.hidden {
    pointer-events: none;
    transform: translateY(100%);
}

.command-input {
    z-index: 1000;
    font-family: Consolas, Monaco, "Andale Mono", "Lucida Console", monospace;
    font-size: 18px;
    width: 100vw;
    height: 24px;
    border: none;
    outline: none;
    padding: 0 8px;
}
