.multi-game {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0f1117;
}

.multi-game.hidden {
    display: none;
}

.server-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    height: 60%;
    margin: 32px 0;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #676767;
}

.server-select {
    & {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 8px;
        border-radius: 6px;
        background-color: #e7f2ff;
        cursor: pointer;
    }

    .name {
        font-size: 18px;
        pointer-events: none;
    }

    .addr {
        color: #8a8a8a;
        pointer-events: none;
    }
}

.server-input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 8px;
    margin: 0 0 12px 0;
}

.server-address {
    width: 40%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #5ec8ff;
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.btn {
    width: 20%;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    transition: 200ms;
    font-weight: bold;
}

.connect-btn {
    background-color: #5ec8ff;
    color: #000;
}

.connect-btn:hover {
    background-color: #00ff99;
}

.cancel-btn {
    background-color: #ff3333;
    color: #fff;
}

.cancel-btn:hover {
    background-color: #ffffff;
    color: #000;
}